<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <style>
        .content-holder {
            margin-right: 5%;
            margin-left: 5%;
        }
        .content {
            margin: 10px;
        }
    </style>
</head>
<body onload="toggleShow()">

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">docker.ui</span>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Welcome to docker.ui</h1>
    <p class="lead">This is a light weight dashboard that will help you to easily manage your local docker setup.</p>
    <hr class="my-4">
    <p>Lets begin,</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button" onclick="showImages()">Images</a> <a class="btn btn-outline-primary btn-lg" href="#" role="button" onclick="showContainers()">Containers</a>
</div>

<div id="images-container" style="display: none">
    <div class="card content">
        <div class="card-body">
            <span class="badge badge-dark" id="imageCount"></span> Images acquiring <span class="badge badge-dark" id="imageSize"></span> mb of disk space
        </div>
    </div>
    <div class="content">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <button class="btn btn-danger btn-sm content" onclick="deleteImages()">Delete</button>
            </li>
            <li class="list-group-item">
                <div class="content">
                    <input type="checkbox" name="forceImageDeletion" class="form-check-input" id="forceCheck">
                    <label class="form-check-label" for="forceCheck">Force Deletion</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="content">
                    <input type="checkbox" name="pruneChildren" class="form-check-input" id="pruneChildrenCheck">
                    <label class="form-check-label" for="pruneChildrenCheck">Prune Child Images</label>
                </div>
            </li>

        </ul>

    </div>

    <div id="images"></div>
</div>

<div id="containers-container" style="display: none">
    <div class="card content">
        <div class="card-body">
            <span class="badge badge-dark" id="imageCount"></span> Containers
        </div>
    </div>
    <div id="containers"></div>
</div>

<div class="modal fade" id="errorModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<script>
    const emptyIdentifier = "---";
    const nullIdentifier = "<none>";

    function post(url, data) {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));

        xhr.onreadystatechange=function () {
            if (this.status >= 400 && this.readyState === 4) {
                alert(this.response);
            } else if(this.readyState === 4) {
                alert("Success");
                window.location.reload();
            }
        }
    }

    fetch('/images/getImages')
        .then(response => response.json())
        .then(data => {
                setImageData(data);
            }
        );

    function setImageData(data) {
        document.getElementById("imageCount").innerHTML = data.length;

        let totalSize = 0;
        let imageArea = document.getElementById("images");
        let injectData = "";

        for (let i=0; i<data.length; i++) {
            let imageData = data[i];
            let roundSize = Math.round(parseInt(imageData.size)/(1024*1024));
            totalSize = totalSize + roundSize;

            for (let j=0; j<imageData.repo_tag.length; j++) {
                let repoName = imageData.repo_tag[j].split(":")[0];
                if (repoName === nullIdentifier) {
                    repoName = emptyIdentifier
                }

                let repoTag = imageData.repo_tag[j].split(":")[1];
                if (repoTag === nullIdentifier) {
                    repoTag = emptyIdentifier
                }

                let date = new Date(0);
                date.setUTCSeconds(imageData.created_at);
                let reqDate = date.getDate() + "-" + date.getMonth() + "-" + date.getFullYear() + " @ " + date.getHours() + ":" + date.getMinutes();

                injectData += "<div class=\"card content\" id=\""+ repoName +"\" style=\"width: 18rem; float: left;\">" +
                            "<div class=\"card-header\" style=\"overflow: auto\">" +
                                "<div class=\"form-check form-check-inline\">" +
                                    "<input name=\"imageId\" class=\"form-check-input\" type=\"checkbox\" value=\"" + imageData.id +"\">" +
                                    "<label class=\"form-check-label\" for=\"inlineCheckbox1\">" +
                                        "<span style=\"white-space: nowrap;\">" + repoName.toString() +"</span>" +
                                    "</label>" +
                                "</div>" +
                            "</div>" +
                            "<div class=\"card-body\" style=\"overflow: auto; white-space: nowrap;\">" +
                                "<span class=\"badge badge-primary\">" + repoTag + "</span> " +
                                "<span class=\"badge badge-dark\">" + roundSize + " mb</span> " +
                                "<span class=\"badge badge-dark\">" + reqDate + "</span> " +
                                "<br /><br />" +
                                "Image Sha <span class=\"badge badge-dark\">" + imageData.id.split(":")[1].substr(0, 12) +"</span>" +
                            "</div>" +
                        "</div>";
            }
        }

        imageArea.innerHTML = injectData;
        document.getElementById("imageSize").innerHTML = totalSize.toString();
    }

    function toggleShow() {
        let allCookies = document.cookie.split("; ");

        for (let i=0; i<allCookies.length; i++) {
            let data = allCookies[i].split("=");
            if (data[0] === "tab") {
                if (data[1] === "images") {
                    showImages();
                } else if (data[1] === "containers") {
                    showContainers();
                }
            }
        }
    }

    function showImages() {
        document.getElementById("images-container").style.display = "block";
        document.getElementById("containers-container").style.display = "none";
        document.cookie = "tab=images";
    }

    function showContainers() {
        document.getElementById("images-container").style.display = "none";
        document.getElementById("containers-container").style.display = "block";
        document.cookie = "tab=containers";
    }

    function deleteImages() {
        let data = document.getElementsByName("imageId");
        let force = document.getElementsByName("forceImageDeletion");
        let pruneChildren = document.getElementsByName("pruneChildren");

        let deletionImages = [];
        let forceCheck = false;
        let pruneChildrenCheck = false;

        for (let i=0; i<data.length; i++) {
            if (data[i].checked) {
                deletionImages.push(data[i].value);
            }
        }

        if (force[0].checked) {
            forceCheck = true;
        }

        if (pruneChildren[0].checked) {
            pruneChildrenCheck = true;
        }

        post("/images/deleteImages", {"imageIds": deletionImages, "checks": {"force": forceCheck, "pruneChildren": pruneChildrenCheck}});
    }
</script>
</body>
</html>