<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <style>
        .content-holder {
            margin-right: 5%;
            margin-left: 5%;
        }
        .content {
            margin: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">docker.ui</span>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Welcome to docker.ui</h1>
    <p class="lead">This is a light weight dashboard that will help you to easily manage your local docker setup.</p>
    <hr class="my-4">
    <p>Lets begin,</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button" onclick="showImages()">Images</a> <a class="btn btn-outline-primary btn-lg" href="#" role="button" onclick="showContainers()">Containers</a>
</div>

<div id="images-container" style="display: none">
    <div class="card content">
        <div class="card-body">
            <span class="badge badge-dark" id="imageCount"></span> Images acquiring <span class="badge badge-dark" id="imageSize"></span> mb of disk space
        </div>
    </div>
    <div id="images"></div>
</div>

<div id="containers-container" style="display: none">
    <div class="card content">
        <div class="card-body">
            <span class="badge badge-dark" id="imageCount"></span> Containers
        </div>
    </div>
    <div id="containers"></div>
</div>


<span id="data"></span>
<script>
    const emptyIdentifier = "---";
    const nullIdentifier = "<none>";
    fetch('/images')
        .then(response => response.json())
        .then(data => {
                setImageData(data);
            }
        );

    function setImageData(data) {
        document.getElementById("imageCount").innerHTML = data.length;

        let totalSize = 0;
        let imageArea = document.getElementById("images");
        let injectData = "";

        for (let i=0; i<data.length; i++) {
            let imageData = data[i];
            let roundSize = Math.round(parseInt(imageData.size)/(1024*1024));
            totalSize = totalSize + roundSize;

            for (let j=0; j<imageData.repo_tag.length; j++) {
                let repoName = imageData.repo_tag[j].split(":")[0];
                if (repoName === nullIdentifier) {
                    repoName = emptyIdentifier
                }

                let repoTag = imageData.repo_tag[j].split(":")[1];
                if (repoTag === nullIdentifier) {
                    repoTag = emptyIdentifier
                }

                let date = new Date(0);
                date.setUTCSeconds(imageData.created_at);
                let reqDate = date.getDate() + "-" + date.getMonth() + "-" + date.getFullYear() + " @ " + date.getHours() + ":" + date.getMinutes();

                injectData += "<div class=\"card content\" id=\""+ repoName +"\" style=\"width: 18rem; float: left;\">" +
                            "<div class=\"card-header\" style=\"overflow: auto\">" +
                                "<div class=\"form-check form-check-inline\">" +
                                    "<input name=\"imageId\" class=\"form-check-input\" type=\"checkbox\" value=\"" + imageData.id +"\">" +
                                    "<label class=\"form-check-label\" for=\"inlineCheckbox1\">" +
                                        "<span style=\"white-space: nowrap;\">" + repoName.toString() +"</span>" +
                                    "</label>" +
                                "</div>" +
                            "</div>" +
                            "<div class=\"card-body\" style=\"overflow: auto; white-space: nowrap;\">" +
                                "<span class=\"badge badge-primary\">" + repoTag + "</span> " +
                                "<span class=\"badge badge-dark\">" + roundSize + " mb</span> " +
                                "<span class=\"badge badge-dark\">" + reqDate + "</span> " +
                                "<br /><br />" +
                                "Image Sha <span class=\"badge badge-dark\">" + imageData.id.split(":")[1].substr(0, 12) +"</span>" +
                            "</div>" +
                        "</div>";
            }
        }

        imageArea.innerHTML = injectData;
        document.getElementById("imageSize").innerHTML = totalSize.toString();
    }

    function showImages() {
        document.getElementById("images-container").style.display = "block";
        document.getElementById("containers-container").style.display = "none";
    }

    function showContainers() {
        document.getElementById("images-container").style.display = "none";
        document.getElementById("containers-container").style.display = "block";
    }
</script>
</body>
</html>